# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CQXQ/.vs
CQXQ/Debug
CQXQ/Release
CQXQ/x64

dummyCQP/.vs
dummyCQP/Debug
dummyCQP/Release
dummyCQP/x64
